/* Debug.css */

/*
.debug-btn-text {
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10%;
    top: 1rem;
    right: 1rem;
    width: 3.3rem;
    height: 2.25rem;
    display: flex;
    z-index: 1;
}
*/
/*
.debug-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
*/
